/*geral*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #323232;
    border: none;
}

input, label {
    display: block;
    width: 100%;
}

input:focus, lavel:focus {
    outline: none;
}

a {
    color: rgb(255, 224, 50);
}

body {
    padding-top: 5vh;
    background-color: #ffbe5a;
    width: 100%;
    border-radius: 30px;
    border: 0px;
}

 /*forms*/
#main-container {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 10px;
    padding: 25px;
}

#main-container h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.6rem;

}

form {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.full-box {
    flex: 1 1 100%;
    position: relative;   
}

