@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css');
body{
    background-color: black;
    font-family: sans-serif;
}

.bg-darkest {
    background-color: rgb(0, 0, 0);

}
.bg-yellow {
    background-color: yellow;
}
.bg-beige{
    background-color: #ffbe5a;
}
.bg-orange{
    background-color: orangered;
}
.logo-caron{
    resize: contain;
    height: 30px;
}

.profile-header-container {
    margin: 0 auto;
    text-align: center;
    margin-top: 0;
}


.img-circle {

    text-align: center;
    margin: 0 auto;
}
@media screen and (max-width: 576px){
    
       
    .img-circle {
        width: 20%;
    }

}

@media screen and (max-width: 1000px){
    
    .img-circle {
    width: 30%;
}
    
}

.footer {
    position: fixed;
    bottom: 0; 
    left: 0;
    width: 100%;
    
}

